<nav class="pagination">
  <a class="button button-green {{#if prev}}{{^}}disabled{{/if}}" href="{{#if prev}}{{page_url prev}}{{^}}javascript:;{{/if}}">《 上一页</a>
  <span class="page-number">{{page}} &frasl; {{pages}}</span>
  <a class="button button-green {{#if next}}{{^}}disabled{{/if}}" href="{{#if next}}{{page_url next}}{{^}}javascript:;{{/if}}">下一页 》</a>
</nav>
<div class="clearfix"></div>